.card {
  width: 30rem;
  margin: 30px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

.card > img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card > .container {
  padding: 10px 10px 25px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card > .container > .container {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.card .button {
  width: 2rem;
  background-color: #d6a204;
  color: white;
  width: 8rem;
  height: 2.5rem;
  border: none;
}

.card > .container > .button:hover {
  cursor: pointer;
}

.badge {
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 10%;
  min-width: 65px;
  font-size: 1.2rem;
}
.bg_red {
  background-color: red;
}
.bg_brown {
  background-color: brown;
}
.bg_blue {
  background-color: blue;
}
.bg_violet {
  background-color: violet;
}
